/* Write your CSS here */
.google-img {
  /* width: 30%; */
  width: 200px;
}
.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 90px;
}
.search-engine-bg-card {
  box-shadow: 0px 4px 16px 0px;
  width: 85%;
  padding: 20px;
  border-radius: 20px;
  margin-top: 25px;
  max-width: 500px;
}
.search-engine-container {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
input {
  width: 100%;
  color: #64748b;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 10px;
  font-weight: 400;
}
.search-icon {
}
.Suggestions-list-container {
  list-style-type: none;
  padding-left: 0px;
}
@media screen and (min-width: 576px) {
  .google-img {
    /* width: 30%; */
    width: 230px;
  }
  .bg-container {
    padding-top: 125px;
  }
}
@media screen and (min-width: 768px) {
  .google-img {
    /* width: 30%; */
    width: 250px;
  }
  .bg-container {
    padding-top: 135px;
  }
}
@media screen and (min-width: 992px) {
  .google-img {
    /* width: 30%; */
    width: 300px;
  }
  .bg-container {
    padding-top: 150px;
  }
}
